.homescreen {
  max-width: 1300px;
  margin: 1rem auto;
}

.home_title {
  font-size: 1rem;
  color: #171717;
  margin-bottom: 1rem;
  margin-bottom: 8x;
}

.home_products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1222px) {
  .home_products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 950px) {
  .home_products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 630px) {
  .home_products {
    grid-template-columns: 1fr;
  }
}
